<div class="text-center mt5">

    <h1>Access Denied</h1>

    @if(ViewBag.returnUrl != null)
    {
        <p>Return URL: @ViewBag.returnUrl </p>
    }
    <a class="btn btn-primary" href="/customer/Home/Index">Home</a>
</div>